<div class="row">
  <div class="col-md-10">
    <div class="card">
      <div class="card-header">
        <strong>Permission Detail </strong>
      </div>
      
      <div class="row">
      <div class="card-body"> 

          <div ng-if="permission.successful" class="alert alert-success" role="alert">
              <strong>Well done!</strong> You successfully read this important alert message.
            </div>
          <div ng-if="permission.error" class="alert alert-danger" role="alert">
            <strong>Oh snap!</strong> Change a few things up and try submitting again.
          </div>

            <form class="form-horizontal" name="permissionDetailForm" ng-submit="updatePermission();">
              <div class="row form-group">
                  <label class="col-md-2 control-label pull-right" for="permissionName">Permission Name:</label> 
                  <div class="col-md-6">
                    <input type="text" class="form-control" id="permissionName" required ng-model="permission.name" placeholder="Permission Name">
                  </div>
              </div>
              <div class="row form-group">
                  <label class="col-md-2 control-label pull-right" for="description">Description:</label> 
                  <div class="col-md-6">
                    <input type="text" class="form-control" id="description" ng-model="permission.description" placeholder="Description">
                  </div>
              </div>
              <div class="row form-group"> 
                <div class="offset-md-2"></div>
                <div class="col-md-2">
                    <button type="button" ng-click="deletePermission();" class="form-control btn-danger"> Delete </button>
                </div>
                <div class="col-md-2">
                    <button type="button" ng-click="gotoPermissionListScreen();" class="form-control btn-defaul"> Cancel </button>
                  </div>
                <div class="col-md-2">
                    <button type="submit" class="form-control btn-success"> Save </button>
                </div>
              </div>
            </form>
      </div>      
    </div>
    </div>
  </div>  
  </div>

  