<div class="sidebar">
  <nav class="sidebar-nav">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" ui-sref-active="active" ui-sref="app.main"><i class="icon-speedometer"></i> Dashboard</a>
      </li>
      <li class="nav-item nav-dropdown" >
        <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-puzzle"></i> Access Control</a>
        <ul class="nav-dropdown-items">
          <li class="nav-item">
            <a class="nav-link" ui-sref-active="active" ui-sref="app.userList"><i class="icon-puzzle"></i> User</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" ui-sref-active="active" ui-sref="app.role"><i class="icon-puzzle"></i> Role </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" ui-sref-active="active" ui-sref="app.permission"><i class="icon-puzzle"></i> Permission </a>
          </li>
        </ul>
      </li>

    </ul>
  </nav>
</div>